<section class="our_client">
        <h4 class="title"><span class="text">Manufactures</span></h4>
        <div class="row">         
          <div class="span2">
            <a href="#"><img alt="" src="/themes/images/clients/14.png"></a>
          </div>
          <div class="span2">
            <a href="#"><img alt="" src="/themes/images/clients/35.png"></a>
          </div>
          <div class="span2">
            <a href="#"><img alt="" src="/themes/images/clients/1.png"></a>
          </div>
          <div class="span2">
            <a href="#"><img alt="" src="/themes/images/clients/2.png"></a>
          </div>
          <div class="span2">
            <a href="#"><img alt="" src="/themes/images/clients/3.png"></a>
          </div>
          <div class="span2">
            <a href="#"><img alt="" src="/themes/images/clients/4.png"></a>
          </div>
        </div>
      </section>
      <section id="footer-bar">
        <div class="row">
          <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
              <li><a href="./index.html">Homepage</a></li>  
              <li><a href="./about.html">About Us</a></li>
              <li><a href="./contact.html">Contac Us</a></li>
              <li><a href="./cart.html">Your Cart</a></li>
              <li><a href="./register.html">Login</a></li>              
            </ul>         
          </div>
          <div class="span4">
            <h4>My Account</h4>
            <ul class="nav">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
          <div class="span5">
            <p class="logo"><img src="/themes/images/logo.png" class="site_logo" alt=""></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
            <br/>
            <span class="social_icons">
              <a class="facebook" href="#">Facebook</a>
              <a class="twitter" href="#">Twitter</a>
              <a class="skype" href="#">Skype</a>
              <a class="vimeo" href="#">Vimeo</a>
            </span>
          </div>          
        </div>  
      </section>
      <section id="copyright">
        <span>Copyright 2013 bootstrappage template  All right reserved.</span>
      </section>
    </div>
    <script src="/themes/js/common.js"></script>
    <script src="/themes/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
      $(function() {
        $(document).ready(function() {
          $('.flexslider').flexslider({
            animation: "fade",
            slideshowSpeed: 4000,
            animationSpeed: 600,
            controlNav: false,
            directionNav: true,
            controlsContainer: ".flex-container" // the container that holds the flexslider
          });
        });
      });
    </script>
    </body>
</html>