<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    
    <link href="/themes/css/bootstrappage.css" rel="stylesheet"/>
    
    <!-- global styles -->
    <link href="/themes/css/flexslider.css" rel="stylesheet"/>
    <link href="/themes/css/main.css" rel="stylesheet"/>

    <!-- scripts -->
    <script src="/themes/js/jquery-1.7.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>       
    <script src="/themes/js/superfish.js"></script>  
    <script src="/themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>     
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>    
    <div id="top-bar" class="container">
      <div class="row">
        <div class="span4">
        <a href="/" class="logo pull-left"><h1>Demandware-OCAPI</h1></a>
          
        </div>
        <div class="span8">
          <div class="account pull-right">
            <ul class="user-menu">        
              <li><a href="#">My Account</a></li>
              <li><a href="/cart">Your Cart</a></li>
	          <li><a href="/checkout-shipping">Checkout</a></li>         
              <li><a href="register.html">Login</a></li>    
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper" class="container">
      <section class="navbar main-menu">
        <div class="navbar-inner main-menu">        
          
          <nav id="menu" class="pull-left">
            <ul>
              <% for (var k in categories) { %>
              <li><a href="/cat/<%= categories[k].id %>"><%= categories[k].name %></a></li>
              <% } %>
            </ul>
          </nav>
          <div class="span4 pull-right">
          <form method="POST" class="search_form">
            <input type="text" class="input-block-level " placeholder="eg. T-sirt">
          </form>
          </div>
        </div>
      </section>
      <section  class="homepage-slider" id="home-slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="/themes/images/carousel/banner-1.jpg" alt="" />
            </li>
            <li>
              <img src="/themes/images/carousel/banner-2.jpg" alt="" />
              <div class="intro">
                <h1>Mid season sale</h1>
                <p><span>Up to 50% Off</span></p>
                <p><span>On selected items online and in stores</span></p>
              </div>
            </li>
          </ul>
        </div>      
      </section>